@import '../../styles/variables.less';

.card {
  padding: 2rem;
  background-color: @button-answer-color-primary;
  border-radius: @border-radius;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: @spacing-lg;
}
