@import '../../styles/variables.less';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: @background-color;
    border-radius: @border-radius;
    font-size: @font-size-lg;
    color: @text-color-primary;
}

.header-title {
    font-size: @font-size-xl;
    font-weight: 600;
    margin: 0;
}

.header-score {
    font-size: @font-size-lg;
    font-weight: 600;
}